.before {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

.after {
    height: 100px;
    width: 100px;
    background-color: transparent;
}
.divOne {
    height: 100px;
    width: 100px;
    background-color: transparent;
}
.divOne:hover {
    background-color: crimson;
}
.divTwo {
    height: 100px;
    width: 100px;
    background-color: transparent;
}
.divTwo:hover {
    background-color: crimson;
}