body {
    height: 100svh;
    text-align: center;
    font-family: "Kanit";
    background-color: silver;
    font-weight: 400;
}
.add-button {
    margin : 30px 10px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
}
.add-button:hover {
    color: black;
    background-color: transparent;
    font-weight: 700;
}
.styled-button {
    margin: 13px;
    height: 40px;
    width: 80px;
    background-color: black; 
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.styled-button:hover {
    background-color: transparent;
    color:black;
    font-weight: 600;
}
table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    border: 2px solid grey;
}
.table-cell {
    text-align: center;
    padding: 13px 20px;
    border: 1px solid black;
}
.table-row {
    border: 1px solid black;
}
.inputsdiv {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.inputdiv {
    margin: 20px;
}
.nameInput , .rollnoInput , .CollegeInput {
    padding: 5px;
    color: rgb(85, 81, 81);
    font-weight: 700;
    background-color: transparent;
    border: 1px solid black;
}
.but {
    margin-left: 5px;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;
    border: none;
}
.but1 {
    background-color: green;
    color: white;
    padding: 5px 10px;
}
.but1:hover {
    background-color: white;
    color: green;
    font-weight: 750;
}
.but2 {
    background-color: red;
    color: white;
    padding: 5px 10px;
}
.but2:hover {
    background-color: white;
    color: red;
    font-weight: 750;
}