.footer {
    height: 500px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 200px;
    height: 140px;
}
.footer-subdiv {
    display: flex;
    padding-top: 20px;
}
.logo-div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.content-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h4 {
    font-size: 20px;
    line-height: 40px;
}
p {
    font-size: 14px;
    margin-top: 20px;
}

.footer-bottom {
    padding-top: 20px;
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.icon {
    font-size: 18px;
}
.icon:hover {
    color: #5341FF;
}
.i4:hover {
    color: #FF0000;
}
.line{
    width: 70%;
    height: 1px;
    background-color: #000;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20%;
}

@media screen and (max-width:900px) {
    .content-div {
        display: none;
    }
    .logo-div {
        width: 100%;
        justify-content: center;
    }
}