body {
    text-align: center;
    /* background-color: #1D1F45; */
    height: 100svh;
    background-color: black;
    color: white;
    /* display: flex; */
    font-family: "Kanit", sans-serif; 

}
/* div {
    height: 100svh;
    width: 50%;
} */
p {
    font-size: 35px;
    font-weight: 500;
    font-family: "Montserrat";
}
input {
    width: 300px;
    margin-left: 15px;
    font-family: "Kanit", sans-serif; 
    padding: 3px 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.atf {
    margin-left: 80px;
}
.adtf {
    margin-left: 50px;
}
.stf {
    margin-left: 70px;
}
.gtf {
    width: fit-content;
    margin-left: 120px;
}
.htf {
    margin-left: 60px;
}
.pp {
    margin-left: 100px;
}
table {
    border: 1px solid white;
    margin: 15px 370px;
    padding: 18px;
}
.tabletf {
    max-width: 150px;
    height: 100%;
    margin: 4px;
}
.acad {
    margin-right: 310px;
}