.container {
  display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 50px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    background-color: #f0f0f0;
    padding: 20px;
}