* {
    margin: 0%;
    padding: 0%;
}
body{
    height: 100svh;
    width: 100%;
}
.above {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    animation-name: moon_background;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.below {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    animation-name:sun_background;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.sun {
    height: 150px;
    width: 150px;
    background-color: #FDB813;
    box-shadow: 0px 0px 30px red ;
    background-size: 100% 100%;
    border-radius: 100%;
    animation-name: my_animation1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    bottom: -75px;
}
.moon {
    height: 150px;
    width: 150px;
    background-image: url("./moon.jpg");
    border-radius: 100%;
    animation-name: my_animation2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    top: -75px;
}
@keyframes my_animation1 {
    from{
        transform: rotate(0deg) translate(200px);

    }
    to{
        transform: rotate(360deg) translate(200px);
    }
}
@keyframes my_animation2 {
    from{
        transform: rotate(0deg) translate(-200px);

    }
    to{
        transform: rotate(360deg) translate(-200px);
    }
}
@keyframes sun_background {
	0%{
		background-color: orangered;
	}
	25%{
		background-color: orange;
	}
	50%{
		background-color: rgb(135, 89, 5);
	}
	75%{
		background-color: rgb(60, 60, 60);
	}
	100%{
		background-color: black;
	}

}
@keyframes moon_background {
	0%{
		background-color: black;
	}
	25%{
		background-color: rgb(60, 60, 60);
	}
	50%{
		background-color: rgb(135, 89, 5);

	}
	75%{
		background-color: orange;

	}
	100%{
		background-color: orangered;
	}
}