* {
    margin: 0%;
    padding: 0%;
}
body {
    height: 100svh;
    width: 100%;
}
.nav-bar {
    height: 100px;
    width: 100%;
    display: flex;
}
.logo {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 32px;
}
.item:hover {
    color: blue;
    cursor: pointer;
}
.menu-bar:hover {
    color: blue;
}
.nav-items {
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
}
.menu-bar {
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    display: none;
}


.hero-section {
    height: 550px;
    width: 100%;
    background: linear-gradient(to bottom,#FEC1C8,#FFD2D9);
    display: flex;
}
.content {
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    position: relative;
}
.image {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.circle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #F17F7F;
    border-radius: 100%;
    top: 12%;
    left: 20%;
}
.heading {
    position: absolute;
    right: 30%;
    line-height: 65px;
    font-size: 55px;
    font-family: "Roboto";
    color: #313789;
    font-weight: 800;
    top: 30%;
    left: 20%;
    
}
.matter {
    position: absolute;
    top: 68%;
    left: 20%;
    right: 15%;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    line-height: 30px;

}
.read-more {
    position: absolute;
    top: 87%;
    left: 20%;
    height: 40px;
    width: 120px;
    font-family: "kanit";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F17F7F;
    color: white;
    letter-spacing: 1px;
}
.Girl-Image {
    height: 100%;
    width: 400px;
}

.Offer-section {
    height: 650px;
    width: 100%;
    position: relative;
}
.showing-image {
    position: absolute;
    left: 23%;
    height: 400px;
    width: 800px;
}
.content-two {
    position: absolute;
    left: 26%;
    top: 50%;
    height: 300px;
    width: 600px;
    background-color: #F7B7B7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.heading-two {
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    position: absolute;
    top: 10%;
}
.matter-two {
    text-align: center;
    font-size: 18px;
    font-family: "Kanit";
    position: absolute;
    left: 10%;
    right: 10%;
    top: 45%;
    font-weight: 200;
    color: rgb(59, 53, 53);
}
input {
    width: 60%;
    height: 10%;
    padding:5px 12px;
    border-radius: 18px;
    border-color: transparent;
    position: absolute;
    top: 70%;
    left: 10%;
}
.submit-button {
    height: fit-con tent;
    width: fit-content;
    padding:10px 20px;
    background-color: #313789;
    color: white;
    border-color: transparent;
    border-radius: 18px;
    position: absolute;
    top: 70%;
    right: 9%;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #313789;
    font-family: "Kanit";
    display: flex;
}
.div1 {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Kanit";
    gap: 20px;
}


.footer-two {
    background-color: #313789;
    height: 70px;
    width: 100%;
    position: relative;
}
.line {
    height: 1px;
    width: 80%;
    background-color: white;
    color: white;
    position: absolute;
    top: -10px;
    left: 10%;
}
.logo2 {
    height: fit-content;
    width: fit-content;
    font-family: "Kanit";
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 24px;
    color: white;
}
.icons {
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    gap: 7px;
    right: 10%;
    top: 10%;
    font-size: 24px;
}