*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.clock{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: relative;
	background-image: url("https://i.pinimg.com/736x/f9/36/c5/f936c5a35c35c3f4d7c498fb8edad0f1.jpg");
	box-shadow: 0px 0px 2px black;
}
.seconds{
	position: absolute;
	width: 4px;
	height: 120px;
	background-color: black;
	left: 150px;
	top: 29.5px;
	animation: seconds 60s steps(60) infinite;
	transform-origin: bottom;
	border-radius: 150px;
}
.minutes{
	position: absolute;
	width: 5px;
	height: 100px;
	background-color: grey;
	left: 149.5px;
	top: 48.5px;
	animation: minutes 3600s steps(3600)infinite;
	transform-origin: bottom;
	border-radius: 150px;
}
.hours{
	position: absolute;
	width: 6px;
	height: 75px;
	background-color: rgb(166, 106, 106);
	left: 148.5px;
	top: 74px;
	animation: hours 216000s steps(216000)infinite;
	transform-origin: bottom;
	border-radius: 150px;
}
@keyframes seconds {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes minutes {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}

}
@keyframes hours {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}