.Hello {
    font-size: 30px;
    background-color: brown;
    color: white;
    text-align: center;
    margin: 20px 0px;
    padding: 10px;

}
.globalStyling {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: var(--div-font-size);
    text-align: center;
    padding: 10px;
}